<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link th:href="@{/css/styles.css}" rel="stylesheet"/>
	</head>
	<body>
		<header>
			<div class="container" th:fragment="common-header" th:object="${Users}">
				<form th:if="${isMenuPage == null}" th:action="@{/logOff}" method="post">
				    <div class="commonHeader">
				        <div class="row d-flex justify-content-evenly">
				            <div class="col-3">
				                <button id="theme-change" class="btn btn-sm btn-primary" type="button"></button>
				            </div>
				            <div class="col-3 mt-1">
				                ユーザー名:<span th:text="${Users.userName}"></span>
				                <input type="hidden" name="userName" th:value="${Users.userName}">
				            </div>
				            <div class="col-3 mt-1">
				                ユーザーID:<span th:text="${Users.userId}"></span>
				                <input type="hidden" name="userId" th:value="${Users.userId}">
				            </div>
				            <div class="col-3">
				                <input type="submit" id="logOff" name="logOff" value="ログオフ" class="buttonSize">
				            </div>
				        </div>
				    </div>
				</form>

				<form th:unless="${isMenuPage == null}" th:action="@{/header/goMenu}" method="post">
				    <div class="commonHeader">
				        <div class="row d-flex justify-content-evenly">
				            <div class="col-3">
				                <button id="theme-change" class="btn btn-sm btn-primary" type="button"></button>
				            </div>
				            <div class="col-3 mt-1">
				                ユーザー名:<span th:text="${Users.userName}"></span>
				                <input type="hidden" name="userName" th:value="${Users.userName}">
				            </div>
				            <div class="col-3 mt-1">
				                ユーザーID:<span th:text="${Users.userId}"></span>
				                <input type="hidden" name="userId" th:value="${Users.userId}">
				            </div>
				            <div class="col-3">
				                <input type="submit" id="back" name="back" value="戻る" class="buttonSize">
				            </div>
				        </div>
				    </div>
				</form>
			</div>
		</header>
	</body>
</html>