<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ユーザー管理画面</title>
<link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body class="p-0">
	<div class="container d-flex align-items-center justify-content-center vh-100">
		<div class="row">
			<form th:action="@{/user/management}" name="managementForm" method="post">
				<div class="text-end">
					<input type="submit" id="back" value="戻る" name="back" class="buttonSize">
				</div>
				<div class="managementBox" >
					<div class="text-danger fw-bold fs-5" th:if="${check} != null">
						<span th:text="${check}"></span>
					</div>
					<div th:if="${managementForm} == null or ${managementForm} != null" th:object="${managementForm}" >
						<div class="text-danger fw-bold fs-5">
							<span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
						</div>
						<p>ユーザー名
							<input type="text" name="userName" th:value="${managementForm} != null ? *{userName} :''">
							<input type="submit" value="検索" name="search" class="buttonRound">
						</p>
						<hr>
						<div class="text-danger fw-bold fs-5">
							<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
						</div>
						<div class="form-row">
							<label>ユーザーID</label>
							<span th:text="${managementForm} != null ? *{userId} : ''"></span>
							<input type="hidden" name="userId" th:value="${managementForm} != null ? *{userId} : ''">
						</div>
						<div class="text-danger fw-bold fs-5">
							<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
						</div>
						<div class="form-row">
							<label>パスワード</label>
							<input type="password" name="password" th:value="''">
						</div>
						<div class="text-danger fw-bold fs-5">
							<span th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
						</div>
						<div class="form-row">
							<label>権限</label>
							<select name="role" th:field="*{role}">
								<option value="" th:selected="*{role} == null">選択してください</option>
								<option value="UnitManager" th:selected="*{role} == 'UnitManager'">UnitManager</option>
								<option value="Manager" th:selected="*{role} == 'Manager'">Manager</option>
								<option value="Regular" th:selected="*{role} == 'Regular'">Regular</option>
								<option value="Admin" th:selected="*{role} == 'Admin'">Admin</option>
							</select>
						</div>
						<div class="text-danger fw-bold fs-5">
							<span th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></span>
						</div>
						<div class="form-row">
							<label>所属部署</label>
							<select id="department" name="departmentId">
								<option value="0" selected>選択してください</option>
								<option th:each="department : ${managementForm.department}"
								    th:value="${department.departmentId}"
								    th:text="${department.departmentName}"
								    th:selected="${department.departmentId} == ${managementForm.departmentId}">
								</option>
							</select>
						</div>
						<div class="text-danger fw-bold fs-5">
							<span th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}"></span>
						</div>
						<div class="form-row">
							<label>電話番号</label>
							<input type="text" name="tel" th:value="${managementForm != null} ? *{tel} : ''">
						</div>
						<div class="text-danger fw-bold fs-5">
							<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
						</div>
						<div class="form-row">
							<label>メールアドレス</label>
							<input type="text" name="address" th:value="${managementForm != null} ? *{address} : ''">
						</div>
						<div class="text-danger fw-bold fs-5">
							<span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span>
						</div>
						<div class="form-row">
							<label>利用開始日</label>
							<input type="text" name="startDate" th:value="${managementForm != null} ? *{startDate} : ''">
						</div>
						<div class="text-center">
							<input type="submit" value="登録" name="insert" class="buttonRound">
						</div>
					</div>
				</div>
			</form>   
		</div>
	 </div>
	<script th:src="@{/js/common.js}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>