<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form name="SearchUser" th:action="@{/user/management}">
	
		<div class"text-danger" th:if="${out} != null">
			<span th:text="${check}" style="color: red;"></span>
		</div>
	
		<p>ユーザー名<input type="text" name="userName">
			<input type="submit" value="検索" style="background-color: yellow;">
		</p>
	</form>
	
	<hr>
	<div th:if="${Users} != null">
		<form th:object="${Users}" method="post">
			ユーザーID：
			<p>パスワード<input type="password"></p>
			<p>権限<input type="text"></p>
			<p>所属部署<input type="text"></p>
			<p>利用開始日<input type="text">
				<input type="submit" value="登録" style="background-color: yellow;">
			</p>
		</form>
	</div>
	
	<div th:if="${List} != null">
		<form th:object="${List}" method="post">
			ユーザーID： <p th:text="*{userId}">userId</p>
			<p>パスワード<input type="password" th:value="*{password}"></p>
			<p>権限<input type="text" th:value="*{role}"></p>
			<p>所属部署<input type="text" th:value="*{departmentName}"></p>
			<p>利用開始日<input type="text" th:value="*{startDate}">
				<input type="hidden" th:value="*{userName}">
				<input type="submit" value="登録" style="background-color: yellow;">
			</p>
		</form>
	</div>
			
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		 <script src="js/ErrorCheck.js" type="text/javascript"></script>
	
</body>
</html>