<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>出勤管理</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
	
	<div class="container" th:object="${Users}">
		<div class="row">
			<form th:action="@{/attendance/management}" method="post" th:object="${attendanceFormList}">
				<div class="d-flex justify-content-between">
					ユーザー名:<span th:text="${Users.userName}"></span> ユーザーID:<span th:text="${Users.userId}"></span> ステータス
					<input type="hidden" name="userId" th:value="${Users.userId}">
					<input type="hidden" name="userName" th:value="${Users.userName}">
				</div>
				<div class="text-danger" th:if="${check} != null">
					<span th:text="${check}" style="color: red;"></span>
				</div>
				<div class="d-flex justify-content-start">
					<label for="years">年</label>
					<input type="text" id="years" name="years">
					<label for="month">月</label>
					<input type="text" id="month" name="month">
					<input type="submit" id="display" value="表示" name="search" style="background-color: yellow;">
				</div>
				<div class="d-flex justify-content-end">
					<input type="submit" id="reject" value="却下" style="background-color: yellow;">
					<input type="submit" id="approve" value="承認" style="background-color: yellow;">
					<input type="submit" id="requestApproval" value="承認申請" style="background-color: yellow;">
					<input type="submit" id="register" value="登録" name="insert" style="background-color: yellow;">
				</div>
	
				<div th:if="${attendanceFormList} != null">
					<div class="row">
						<div class="col-12 ml-3" th:each="attendance, start : ${attendanceFormList.attendanceList}">
							<table class="table table-bordered border border-dark">
								<thead>
									<tr>
										<th>日付</th>
										<th>曜日</th>
										<th>勤務状況</th>
										<th>出勤時間</th>
										<th>退勤時間</th>
										<th>備考</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th:block>
											<input type="hidden" th:name="|attendanceList[${start.index}].dayOfWeek|" th:value="${attendance.dayOfWeek}">
											<input type="hidden" th:name="|attendanceList[${start.index}].attendanceDate|" >
										</th:block>
										<td th:text="${#dates.format(attendance.attendanceDate, 'MM/dd')}"></td>
										<td th:text="${attendance.dayOfWeek}"></td>
										<td>
											<select id="status" th:field="*{attendanceList[__${start.index}__].status}">
												<option value=""></option>
												<option th:value="0" th:selected="${attendance.status} == '0'">通常出勤</option>
												<option th:value="1" th:selected="${attendance.status} == '1'">休日</option>
												<option th:value="2" th:selected="${attendance.status} == '2'">祝日</option>
												<option th:value="3" th:selected="${attendance.status} == '3'">遅刻</option>
												<option th:value="4" th:selected="${attendance.status} == '4'">有給</option>
												<option th:value="5" th:selected="${attendance.status} == '5'">欠勤</option>
												<option th:value="6" th:selected="${attendance.status} == '6'">早退</option>
												<option th:value="7" th:selected="${attendance.status} == '7'">時間外勤務</option>
												<option th:value="8" th:selected="${attendance.status} == '8'">振替出勤</option>
												<option th:value="9" th:selected="${attendance.status} == '9'">振替休日</option>
												<option th:value="10" th:selected="${attendance.status} == '10'">代替出勤</option>
												<option th:value="11" th:selected="${attendance.status} == '11'">代替休日</option>
											</select>
										</td>
										<td><input type="text" id="startTime" th:field="*{attendanceList[__${start.index}__].startTime}" th:value="${attendance.startTime}"></td>
										<td><input type="text" id="endTime" th:field="*{attendanceList[__${start.index}__].endTime}" th:value="${attendance.endTime}"></td>
										<td><input type="text" id="attendanceRemarks" th:field="*{attendanceList[__${start.index}__].attendanceRemarks}" th:value="${attendance.attendanceRemarks}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
