<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>パスワード忘れ</title>
	<link th:href="@{/css/styles.css}" rel="stylesheet"/>
	<link th:href="@{/css/create.css}" rel="stylesheet" />
	<link th:href="@{/css/index.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body  class="p-0">
	<div class="alert alert-success text-center" th:if="${emailSent}">
		<p th:text="${emailSent}"></p>
	</div>

	<div class="text-end mt-0">
		<a th:href="@{/index}">
			<input type="submit" id="logInBack" value="ログイン画面に戻る" name="logInBack" class="variableButtonSize">
		</a>
	</div>
	<div class="indexContainer">
		<div class="indexBox">
			<form th:action="@{/forgotpassword(send=true)}" method="post">
			   <div class="loginFontsize">
			       <div class="form-row">
						<label >ユーザーID</label>
						<input type="text" id="userId" name="userId" class="m-3" oninput="validateInput(this),checkInput(this)">
				   </div>
				   <div class="form-row">
			            <label>メール<br>アドレス</label>
						<input type="address" id="address" name="address" class="m-3" oninput="checkInput(this)"></div>
			        </div>
			        <div class="text-center">
			            <input type="submit" id="send" name="send" value="メール送信" class="variableButtonSize">
			        </div>
			    </div>
			</form>
		</div>
	</div>
	<script th:src="@{/js/forgotPassword.js}"></script>
	<script th:src="@{/js/common.js}"></script>
</body>
</html>
