@charset "UTF-8";
.m-50  {
    padding-top: 50px !important; /* 上に余白を追加 */
    padding-bottom: 50px; /* 下に余白を追加 */
    font-size: x-large !important;
/*    margin: 0 auto;*/
}

.noneBox{
    /*コレ*/border: none;
 width: 100%
}
.buttonSize {
  width: 15%;
  border-radius: 40% 80% 35% 65% / 50% 50% 70% 40%;
  background-color: yellow;
}
.textBox{
	border-radius: 40% 80% 35% 65% / 50% 50% 70% 40%;
}

.buttonRound{
  width:120px;
  height:60px;
  background-color: yellow;
  border-radius:30px;
}


.linklike {
  border:none;
  background-color:transparent;
  color:blue;
  text-decoration:underline;
}

.loginFontsize{
	  font-size:30px;
}