<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>処理メニュー</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
	crossorigin="anonymous">
<link th:href="@{/CSS/create.css}" rel="stylesheet" />

</head>
<body>
	<div class="container" th:object="${Users}">
		<div class="row"> 
			<form id="mainForm" th:action="@{/logOff}" method="post" class="d-flex align-items-center justify-content-center commonHeader" >
				<div class="col-4 ">
					ユーザー名: <span th:text="${Users.userName}"></span>
					<input type="hidden" name="userName" th:value="${Users.userName}">
				</div>
				<div class="col-4">
					ユーザーID: <span th:text="${Users.userId}"></span>
					<input type="hidden" name="userId" th:value="${Users.userId}">
				</div>
				<div class="col-4">
					<input type="submit" id="logOff" value="ログオフ" name="logOff" class="buttonSize">
				</div>
			</form>
			<div th:if="${CheckAttendance}" class="alert alert-warning" role="alert">
				<p th:text="${CheckAttendance}"></p>
			</div>
			<div th:if="${CheckDailyReport}" class="alert alert-warning" role="alert">
				<p th:text="${CheckDailyReport}"></p>
			</div>
			<div th:if="${monthlyAttendanceStatusIsThree}" class="alert alert-warning" role="alert">
				<p th:text="${monthlyAttendanceStatusIsThree}"></p>
			</div>
			<div th:if="${monthlyAttendanceStatusIsSent}" class="alert alert-warning" role="alert">
				<p th:text="${monthlyAttendanceStatusIsSent}"></p>
			</div>
<!--			天気予報API課金で使用可能-->
<!--			<h2>現在の天気</h2>-->
<!--			    <p>温度: <span th:text="${currentWeather.temp}"></span>°C</p>-->
<!--			    <p>天気: <span th:each="w : ${currentWeather.weather}" th:text="${w.description}"></span></p>-->
<!--			    <img th:each="w : ${currentWeather.weather}" th:src="@{'http://openweathermap.org/img/wn/' + ${w.icon} + '@2x.png'}" alt="天気アイコン">-->

<!--			    <h2>今日の天気</h2>-->
<!--			    <p>昼の温度: <span th:text="${todayWeather.temp.day}"></span>°C</p>-->
<!--			    <p>夜の温度: <span th:text="${todayWeather.temp.night}"></span>°C</p>-->
<!--			    <p>天気: <span th:each="w : ${todayWeather.weather}" th:text="${w.description}"></span></p>-->
<!--			    <img th:each="w : ${todayWeather.weather}" th:src="@{'http://openweathermap.org/img/wn/' + ${w.icon} + '@2x.png'}" alt="天気アイコン">-->

<!--			    <h2>明日の天気</h2>-->
<!--			    <p>昼の温度: <span th:text="${tomorrowWeather.temp.day}"></span>°C</p>-->
<!--			    <p>夜の温度: <span th:text="${tomorrowWeather.temp.night}"></span>°C</p>-->
<!--			    <p>天気: <span th:each="w : ${tomorrowWeather.weather}" th:text="${w.description}"></span></p>-->
<!--			    <img th:each="w : ${tomorrowWeather.weather}" th:src="@{'http://openweathermap.org/img/wn/' + ${w.icon} + '@2x.png'}" alt="天気アイコン">-->

<!--				天気予報API無課金版-->
				<div  style="display: flex; justify-content: space-evenly; background-color: #f0fff0; border-radius:.25rem; box-shadow: 1px 2px 1px #333;">
					<ul class = "weatherInfo">
						<h2>今日の天気</h2>
						<li><span class = label>天気:</span> <span th:text="${weatherData.todayDescription}"></span></li>
						<li><span class = label>気温:</span> <span th:text="${weatherData.todayTemp}"></span>°C</li>
						<li><span class = label>湿度:</span> <span th:text="${weatherData.todayHumidity}"></span>%</li>
						<li><span class = label>気圧:</span> <span th:text="${weatherData.todayPressure}"></span> hPa</li>
					</ul>
					<ul class="weatherInfo" >
						<h2>明日の天気</h2>
						<li><span class = label>天気:</span> <span th:text="${weatherData.tomorrowDescription}"></span></li>
						<li><span class = label>気温:</span> <span th:text="${weatherData.tomorrowTemp}"></span>°C</li>
						<li><span class = label>湿度:</span> <span th:text="${weatherData.tomorrowHumidity}"></span>%</li>
						<li><span class = label>気圧:</span> <span th:text="${weatherData.tomorrowPressure}"></span> hPa</li>
					</ul>
				</div>
			<div class="d-flex align-items-center justify-content-center " style="padding:50px;">		
<!--					レギュラー＆ユニットマネージャー用-->
					<div th:if="${Users.role=='Regular'||Users.role=='UnitManager'}">
						<p>
							<form th:action="@{/menu/index}" method="get">
								<input type="submit" value="勤怠登録" class="menuButtonSize"
									style="background-color: rgb(255, 128, 64);">
							</form>
							<!--						th:actionの修正予定"@{/menu/correction}"-->
							<form th:action="@{/menu/correction}" method="get">
								<input type="submit" value="勤怠修正" class="menuButtonSize"
									style="background-color: rgb(255, 128, 64);margin-top:15px;" >
							</form>
						</p>
						<form th:action="@{/menu/daily/detail}" method="get">
							<input type="submit" value="日報登録" class="menuButtonSize"
								style="background-color: rgb(128, 128, 64);">
						</form>
					</div>
	
<!--					管理者用-->
					<div th:if="${Users.role=='Admin'}">
<!--						ユーザー情報登録-->
						<form th:action="@{/menu/usermanagement}" method="get">
							<input type="submit" value="ユーザー情報登録" class="menuButtonSize"
								style="background-color: rgb(131, 118, 137);">
						</form>
					</div>
	
<!--					マネージャー用-->
					<div th:if="${Users.role=='Manager'}">
						<p>
							<form th:action="@{/menu/index}" method="get">
							<input type="submit" value="勤怠管理" class="menuButtonSize"
								style="background-color: rgb(255, 128, 64);">
							</form>
							<form th:action="@{/menu/correction}" method="get">
								<input type="submit" value="勤怠修正" class="menuButtonSize"
									style="background-color: rgb(255, 128, 64);margin-top:15px;" >
							</form>
						</p>
						<p>
							<form th:action="@{/menu/daily/detail}" method="get">
								<input type="submit" value="日報管理" class="menuButtonSize"
									style="background-color: rgb(128, 128, 64);">
							</form>
						</p>
						<form th:action="@{/menu/department}" method="get">
							<input type="submit" value="部署登録" class="menuButtonSize"
								style="background-color: rgb(128, 255, 255);">
						</form>
				</div>
			</p>
		</div>
	</div>
	<script th:src="@{/js/common.js}"></script>
</body>	
</html> 



