<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>処理メニュー</title>
<link th:href="@{/css/styles.css}" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
	<div class="container" th:object="${Users}">
		<div class="row"> 
			<form id="mainForm" th:action="@{/logOff}" method="post" class="commonHeader dflex-content_center-item_center" >
				<div class="col-4">
					ユーザー名: <span th:text="${Users.userName}"></span>
					<input type="hidden" name="userName" th:value="${Users.userName}">
				</div>
				<div class="col-4">
					ユーザーID: <span th:text="${Users.userId}"></span>
					<input type="hidden" name="userId" th:value="${Users.userId}">
				</div>
				<div class="col-4">
					<input type="submit" id="logOff" value="ログオフ" name="logOff" class="buttonSize">
				</div>
			</form>
<!--			一般用アラート-->
			<div class="menuAlert row">
				<div th:if="${monthlyAttendanceReqApproved}" role="alert">
					<i class="fa-solid fa-bell"></i>
					<p class="mb-0" th:text="${monthlyAttendanceReqApproved}"></p>
				</div>
				<div th:if="${combinedMessageAndReason}" role="alert">
					<i class="fa-solid fa-bell"></i>
					<pre class="mb-0" th:text="${combinedMessageAndReason}"></pre>
					<form th:action="@{/attendanceCorrect/updateData}" method="post" class="dflex-content_center-item_center">
						<input type="hidden" name="userId" th:value="${Users.userId}">
						<input type="submit" name="confirmReason" value="確認" class="buttonSize">
					</form>
				</div>
				<div th:if="${CheckAttendance}"role="alert">
					<i class="fa-solid fa-circle-exclamation"></i>
					<p class="mb-0" th:text="${CheckAttendance}"></p>
				</div>
				<div th:if="${CheckDailyReport}"  role="alert">
					<i class="fa-solid fa-circle-exclamation"></i>
					<p class="mb-0" th:text="${CheckDailyReport}+ ''+ ${MissingSubmitDReport}"></p>
				</div>
				<div th:if="${monthlyAttendanceStatusIsThree}"  role="alert">
					<i class="fa-solid fa-bell"></i>
					<p class="mb-0" th:text="${monthlyAttendanceStatusIsThree}"></p>
				</div>
				<!--			マネージャー用アラート-->
				<div th:if="${monthlyAttendanceStatusIsSent}" role="alert">
					<i class="fa-solid fa-bell"></i>
					<p class="mb-0" th:text="${monthlyAttendanceStatusIsSent}"></p>
				</div>
				<div th:if="${monthlyAttendanceReqArrival}" role="alert">
					<i class="fa-solid fa-bell"></i>
					<p class="mb-0" th:text="${monthlyAttendanceReqArrival}"></p>
				</div>
			</div>
		</div>
<!--			天気予報API課金で使用可能-->
<!--			<h2>現在の天気</h2>-->
<!--			    <p>温度: <span th:text="${currentWeather.temp}"></span>°C</p>-->
<!--			    <p>天気: <span th:each="w : ${currentWeather.weather}" th:text="${w.description}"></span></p>-->
<!--			    <img th:each="w : ${currentWeather.weather}" th:src="@{'http://openweathermap.org/img/wn/' + ${w.icon} + '@2x.png'}" alt="天気アイコン">-->

<!--			    <h2>今日の天気</h2>-->
<!--			    <p>昼の温度: <span th:text="${todayWeather.temp.day}"></span>°C</p>-->
<!--			    <p>夜の温度: <span th:text="${todayWeather.temp.night}"></span>°C</p>-->
<!--			    <p>天気: <span th:each="w : ${todayWeather.weather}" th:text="${w.description}"></span></p>-->
<!--			    <img th:each="w : ${todayWeather.weather}" th:src="@{'http://openweathermap.org/img/wn/' + ${w.icon} + '@2x.png'}" alt="天気アイコン">-->

<!--			    <h2>明日の天気</h2>-->
<!--			    <p>昼の温度: <span th:text="${tomorrowWeather.temp.day}"></span>°C</p>-->
<!--			    <p>夜の温度: <span th:text="${tomorrowWeather.temp.night}"></span>°C</p>-->
<!--			    <p>天気: <span th:each="w : ${tomorrowWeather.weather}" th:text="${w.description}"></span></p>-->
<!--			    <img th:each="w : ${tomorrowWeather.weather}" th:src="@{'http://openweathermap.org/img/wn/' + ${w.icon} + '@2x.png'}" alt="天気アイコン">-->

<!--				天気予報API無課金版-->
			<div  class = "weatherContainer">
				<ul class = "weatherInfo">
					<h2>今日の天気</h2>
					<li><span>天気:</span> <i id="todayWeatherIcon" class="fa-solid "></i><span th:text="${weatherData.todayDescription}"></span></li>
					<li><span>気温:</span> <span th:text="${weatherData.todayTemp}"></span>°C</li>
					<li><span>湿度:</span> <span th:text="${weatherData.todayHumidity}"></span>%</li>
					<li><span>気圧:</span> <span th:text="${weatherData.todayPressure}"></span> hPa</li>
				</ul>
				<ul class="weatherInfo" >
					<h2>明日の天気</h2>
					<li><span>天気:</span> <i id="tomorrowWeatherIcon" class="fa-solid "></i><span th:text="${weatherData.tomorrowDescription}"></span></li>
					<li><span>気温:</span> <span th:text="${weatherData.tomorrowTemp}"></span>°C</li>
					<li><span>湿度:</span> <span th:text="${weatherData.tomorrowHumidity}"></span>%</li>
					<li><span>気圧:</span> <span th:text="${weatherData.tomorrowPressure}"></span> hPa</li>
				</ul>
			</div>
			<div class="d-flex align-items-center justify-content-center mt-2">		
<!--					レギュラー＆ユニットマネージャー用-->
				<div th:unless="${Users.role=='Admin'}">
					<div class="attendance">
						<form th:action="@{/menu/index}" method="get">
							<input type="submit" value="勤怠登録" class="menuButtonSize"  onclick="disableSubmit(this)">
						</form>
						<form th:action="@{/menu/correction}" method="get">
							<input type="submit" value="勤怠修正" class="menuButtonSize"  onclick="disableSubmit(this)">
						</form>
					</div>
					<div class="dailyRep">
						<form th:action="@{/menu/daily/detail}" method="get">
							<input type="submit" value="日報登録" class="menuButtonSize"  onclick="disableSubmit(this)">
						</form>
					</div>
					<!--					マネージャー用-->
					<div th:if="${Users.role=='Manager'}">
						<div class="department">
							<form th:action="@{/menu/department}" method="get">
								<input type="submit" value="部署登録" class="menuButtonSize"  onclick="disableSubmit(this)">
							</form>
						</div>
					</div>
				</div>
	
<!--					管理者用-->
				<div th:if="${Users.role=='Admin'}">
<!--						ユーザー情報登録-->
					<div class="management">
						<form th:action="@{/menu/usermanagement}" method="get">
							<input type="submit" value="ユーザー情報登録" class="menuButtonSize" onclick="disableSubmit(this)">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
	    /*<![CDATA[*/
		 const todayWeatherType = /*[[${weatherData.todayWeatherType}]]*/[];
		 const tomorrowWeatherType = /*[[${weatherData.tomorrowWeatherType}]]*/[];
	    /*]]>*/
	</script>
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/weather.js}"></script>
</body>	
</html> 



