<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

 
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<form name = "LoginForm" th:action="@{/login/check}" method="post">
		<center>
			<div class"text-danger" th:if="${out} != null">
				<span th:text="${out}" style="color: red;"></span>
			</div>
			<p>ユーザーID<input type="text" name="userId"></p>
		
			<p>パスワード<input type="password" name="password"></p>
		</center>
		<center><input type="submit" id = "check" value="ログイン" style="background-color: yellow;"></center>
	</form>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	 <script src="js/ErrorCheck.js" type="text/javascript"></script>
</body>
</html>