<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
	<link th:href="@{/css/styles.css}" rel="stylesheet"/>
<!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body class="pt-0">
	<div th:if="${param.error}">
		<div class="alert alert-danger fixed-top">
			<span th:text="${session.SPRING_SECURITY_LAST_EXCEPTION?.message ?: 'ユーザー情報が存在しません'}"></span>
		</div>
	</div>
	<header>
	    <div class="row d-flex justify-content-evenly">
	        <div class="col-3">
	            <button id="theme-change" class="btn btn-sm btn-primary" type="button"></button>
	        </div>
	        <div class="col-3 mt-1">
	        </div>
	        <div class="col-3 mt-1">
	        </div>
	        <div class="col-3">
	        </div>
	    </div>
	</header>
	
	
	<div class="indexContainer">
		<div class="row">
			<div class ="col-12">
				<div class="indexBox">
					<form name="LoginForm" th:action="@{/login}" method="post">
						<div class="loginFontsize">
							<div class="form-row">
								<label for="userId" class="col-3">ユーザーID</label>
								<input type="text" id="userId" name="userId" class="m-3 col-7" autocomplete="on">
							</div>
							<div class="form-row">
								<label for ="userName" class="col-3 ">パスワード</label>
								<input type="password" id="userName" name="password" class="m-3 col-7" autocomplete="off">
							</div>
							<div class="text-center">
								<input type="submit" id="check" value="ログイン" class="buttonRound">
							</div>
							<div class="text-center mt-3">
								<a th:href="@{/forgotpassword}">パスワードを忘れた方はこちら</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/common.js}" defer></script>
</body>
</html>
