<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AttendanceSearchMapper">



<!-- 日付指定範囲取得 -->
<select id="selectByYearMonth"
	resultType="com.example.demo.model.Attendance">
	SELECT *
	FROM attendance INNER JOIN users on attendance.user_id = users.user_id
	WHERE attendance.user_id = #{userId} AND attendance_date BETWEEN #{targetDate} AND #{endDate};
</select>


<!-- 登録 -->
<insert id="insert">
	insert into attendance(user_id,status,attendance_date,start_time,end_time,attendance_remarks)
	values(
	#{userId},
	#{status},
	#{attendanceDate},
	<if test="startTime != null and startTime != ''">#{startTime}</if>
    <if test="startTime == null or startTime == ''">NULL</if>,
    <if test="endTime != null and endTime != ''">#{endTime}</if>
    <if test="endTime == null or endTime == ''">NULL</if>,
	#{attendanceRemarks})
</insert>


<!-- 日付指定範囲削除 -->
<delete id="deleteByAttendanceOfMonth">
	delete from attendance
	WHERE attendance.user_id = #{userId} AND attendance_date BETWEEN #{targetDate} AND #{endDate};
</delete>


</mapper>