<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DailyReportMapper">

<!--日報取得-->
<select id = "getDailyReport"
	resultType = "com.example.demo.model.DailyReportForm">
	SELECT *
	FROM daily_report
	WHERE user_id = #{userId} 
	and daily_report_date = #{dailyReportDate}
</select>

<!--昨日の日報が出ているかを確認する -->
<select id="selectYesterdayCheck" resultType="int">
	SELECT EXISTS (SELECT 1 FROM daily_report WHERE
	user_id = #{userId} 
	AND daily_report_date = #{yesterday});
</select>

<!--確認待ちユーザー取得-->
<select id = "selectConfirmPending">
	SELECT 
	t1.user_id,
	t1.status,
	t1.daily_report_date,
	t2.user_name 
	FROM daily_report t1 
	INNER JOIN users t2 ON t1.user_id = t2.user_id 
	WHERE t1.status = 1 and daily_report_date = #{dailyReportDate}
</select>

<!-- 日報追加 index追加候補（daily_report_date）-->
<insert id="insertDailyReport">
	INSERT INTO
		daily_report
			(user_id,daily_report_date,status)
	VALUES
		(#{userId},#{dailyReportDate},1)
</insert>

<!-- 日報更新 -->
<update id="updateDailyReport">
	UPDATE daily_report
	SET
		status = 1
	WHERE daily_report_id = #{dailyReportId}
</update>

<!--日報確認-->
<update id = "updateConfirmDailyReport">
	UPDATE daily_report
	SET
		status=2
	WHERE 
		daily_report_id = #{dailyReportId}
</update>

<!-- 日報削除 -->
<delete id="deleteDailyReport">
	DELETE
	FROM
		daily_report
	WHERE
		daily_report_id = #{dailyReportId}
</delete>

</mapper>


