<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DepartmentMapper">



<!-- 有効部署取得 -->
<select id="selectDepartment"
	resultType="com.example.demo.model.Department">
	SELECT *
	FROM department WHERE is_active = 1;
</select>

<!-- 無効（削除済み）部署取得。 -->
<select id="selectDeleteDepartment"
	resultType="com.example.demo.model.Department">
	SELECT *
	FROM department WHERE is_active = 0;
</select>

<!-- テーブル内のdepartment_nameに重複が無いかを確認ののちに登録 -->
<insert id="insertDepartment">
	INSERT INTO department (department_name, is_active)
	SELECT #{newDepartmentName}, 1
	WHERE NOT EXISTS (
	SELECT 1
	FROM department
	WHERE department_name = #{newDepartmentName}
);
</insert>

<!-- 部署名更新 -->
<update id="updateDepartmentName">
	UPDATE department
	SET department_name = #{newDepartmentName}
	WHERE department_name = #{oldDepartmentName}
	AND NOT EXISTS (
	SELECT 1
	FROM (SELECT department_name FROM department) AS temp
	WHERE department_name = #{newDepartmentName}
	);
</update>

<!-- 部署無効化（削除）更新 -->
<update id ="updateDepartmentDeactive">
	UPDATE department SET is_active = 0 WHERE department_name = #{oldDepartmentName};
</update>

<!-- 無効（削除済み）部署を有効化更新。 -->
<update id ="updateDepartmentActive">
	UPDATE department SET is_active = 1 WHERE department_name = #{oldDepartmentName};
</update>



</mapper>