<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MonthlyAttendanceReqMapper">



<!-- 承認待ちユーザー取得 -->
<select id="selectApprovalPending"
	resultType="com.example.demo.model.MonthlyAttendanceReq">
	SELECT
	t1.user_id,
	t1.user_name,
	t2.monthly_attendance_req_id,
	t2.target_year_month,
	t2.monthly_attendance_req_date,
	t2.status
	FROM users t1  
	INNER JOIN monthly_attendance_req t2 on t1.user_id = t2.user_id
	WHERE t2.status = 1;
</select>




<!-- 登録 -->
<insert id="insert">
	insert into monthly_attendance_req(user_id, target_year_month, monthly_attendance_req_date, status)
	values(#{userId},#{targetYearMonth},#{monthlyAttendanceReqDate},#{status});
</insert>


<!-- 日付指定範囲削除 -->
<delete id="deleteByYearMonth">
	delete from attendance
	WHERE attendance.user_id = #{userId} AND attendance_date BETWEEN #{targetDate} AND #{endDate};
</delete>


</mapper>