<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserSearchMapper">


<!-- 全件取得 -->
<select id="selectAll" resultType="com.example.demo.model.Users">
	select * from users;
</select>
 
 
<!-- １件取得 -->
<select id="selectByPrimaryKey" resultType="com.example.demo.model.Users">
	SELECT * FROM users 
	WHERE user_name = #{userName};
</select>


<!-- 登録 -->
<insert id="insert">
	insert into users (user_id,password, user_name, role, start_date) 
	values(#{userId},#{password}, #{userName}, #{role}, #{startDate});
</insert>


<!-- 更新 -->
<update id="update" parameterType="com.example.demo.model.Users">
    UPDATE users
    SET password = #{password},
        role = #{role},
        start_date = #{startDate}
    WHERE user_id = #{userId}
</update>


<!-- 削除 -->
<delete id="delete">
	delete from users
	where user_id = #{userId}
</delete>


</mapper>