<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UsersMapper">



<!-- ログイン時のアカウント存在チェック -->
<select id="loginCheck"
	resultType="com.example.demo.model.Users">
	SELECT *
	FROM users
	WHERE user_id = #{userId} AND password = #{password}  
</select>
 
 
<!-- 検索ボタン押下時アカウント取得 -->
<select id="selectByAccount" resultType="com.example.demo.model.Users">
	SELECT * 
	FROM users 
    WHERE user_name = #{userName} 
    <if test="userId != null">
        AND user_id = #{userId}
    </if>
</select>

<!-- 登録ボタン押下時アカウント取得 -->
<select id="selectByAccountBy" resultType="com.example.demo.model.Users">
	SELECT * 
	FROM users 
    WHERE user_id = #{userId}
</select>


<!-- 登録 -->
<insert id="insert">
	insert into users (user_id,password, user_name, role, start_date) 
	values(#{userId},#{password}, #{userName}, #{role}, #{startDate});
</insert>


<!-- 更新 -->
<update id="update" parameterType="com.example.demo.model.Users">
    UPDATE users
    SET 
    	password = #{password},
    	user_name = #{userName},
        role = #{role},
        start_date = #{startDate}
    WHERE user_id = #{userId}
</update>


<!-- 削除 -->
<delete id="delete">
	delete from users
	where user_id = #{userId}
</delete>


</mapper>