<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>部署管理画面</title>
		<link th:href="@{/css/styles.css}" rel="stylesheet"/>
		<link th:href="@{/CSS/create.css}" rel="stylesheet"/>
	</head>
	<body>
		<div class="container mt-3">
			<div class="alert alert-success text-center" th:if="${departmentMessage}">
				<p th:text="${departmentMessage}"></p>
			</div>
			<div class="alert alert-danger text-center" th:if="${departmentErrorMessage}">
				<p th:text="${departmentErrorMessage}"></p>
			</div>
			<form th:action="@{/department/action}" method="post">
				<div class="row">
					<div class="col-md-6">
						<div class="d-flex flex-column align-items-start">
							<label for="activeDepartmentSelect" class="mb-2">登録済の部署</label>
							<select class="form-control mb-5" id="activeDepartmentSelect" name="oldDepartmentName">
								<option value="" selected></option>
								<option th:each="department : ${departmentForm.activeDepartment}"
										th:value="${department.departmentName}"
										th:text="${department.departmentName}">
								</option>
							</select>
							<label for="deactiveDepartmentSelect" class="mb-2">削除済の部署</label>
							<select class="form-control" id="deactiveDepartmentSelect" name="deletedDepartmentName">
								<option value="" selected></option>
								<option th:each="department : ${departmentForm.deactiveDepartment}"
										th:value="${department.departmentName}"
										th:text="${department.departmentName}">
								</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="d-flex flex-column align-items-start">
							<label for="departmentAction">新部署名（登録/変更）</label>
							<input type="text" class="form-control mb-3" id="departmentAction"
								   name="newDepartmentName" placeholder="部署名を入力">
							<p id="error-message" class="text-danger fw-bold"></p>
							<div class="d-grid gap-2">
								<div>
									<input type="submit" name="back" value="戻る"
										   id="backa" class="btn btn-secondary mb-2">
								</div>									
								<div>
									<input type="submit" name="registration" value="登録"
										   id="registration" class="btn btn-primary mb-2">
								</div>
								<div>
									<input type="submit" name="change" value="変更"
										   id="change" class="btn btn-warning mb-2">
								</div>
								<div>
									<input type="submit" name="delete" value="削除"
										   id="delete" class="btn btn-danger mb-2">
								</div>
								<div>
									<input type="submit" name="restore" value="復元"
										   id="restore" class="btn btn-success mb-2">
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<script th:src="@{/js/department.js}" defer></script>
		<script th:src="@{/js/common.js}"></script>
</html>